{
  "singleQuote": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "es5",

  // extra spaces remove
  "useTabs": false,

  // line ending fix
  "endOfLine": "auto"
}